/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

    --text-left-marging-padding: 10px;
    --box-margins: 10%;

}


/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

#head{
    height: 78%; 

    margin-bottom: 50px;
    display: flexbox;
    
    background-color: var(--darker-green);
}

.brand_logo{
    width: 25%;

    margin-left: 3%;
    margin-top: 2%;

    float: left;
}

.search_bar{
    width: 30%;
    height: 5%;

    border-radius: 5px;
    float: right;

    margin-top: 2%;
    margin-right: 1%;
}

.menu_logo{
    width: 4%;
    float: right;

    margin-top: 1%;
}
/*side bar--------------------------------------------*/
.side_info{
    margin-left: var(--box-margins);
    margin-right: var(--box-margins);
}

.side_info h1{
    text-align: center;
}

.sidebar_agenda{
    height: 600px;
    background-color: var(--lighter-green);
}

.sidebar_login{
    height: 300px;
    background-color: var(--darker-red);
}

/* displaying dishes -----------------------------------------------------------------------------------------------------------------------*/

.dishes_content{
    /*
    display: grid;
    display: -ms-grid;
    display: -moz-grid;

    grid-template-columns: 50% 50%;
    */
}

.small_dish_dishplay{
    width: 90%;
    margin-bottom: var(--box-margins);
    background-color: var(--lighter-red);

}

.dishes_img{
    display: flex;
    height: 250px;
    /*width: 100%;*/
    overflow-y: hidden;
    overflow-x: hidden;

    justify-content: center;
    align-items: center;
}

.dishes_top_row{
    height: 50px;
    padding-left: var(--text-left-marging-padding);

    background-color: var(--darker-orange);
}

.dishes_short_description{
    height: 100px;
    overflow: hidden;

    padding-left: var(--text-left-marging-padding);

    margin-bottom: 50px;

    background-color: var(--darker-red);
}

.dishes_bottom_row{
    height: 60px;

    display: grid;
    grid-template-columns: 40% 60%;
}

.bottom_right{
    display: flex;
    justify-content: right;
    align-items: center;
}


.bottom_right p{
    margin-top: 10px;
    margin-right: var(--text-left-marging-padding);
}




