/**
 VERRUKKULLUK MAIN.CSS
 */


:root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

    --text-left-marging-padding: 10px;
    --box-margins: 10%;
    --login_margin: 10%;

    --shadow-strenght: 0.5;

}


/** HEADING **/
h1, h2, h3, h4 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4, h5{
    font-size: 22px;
}

/* misc */
.euro_sign{
    font-size: 1.2em;
}

.stars{
    position: absolute;

    bottom: 25%;
}
.stars_container{
    position: relative;
}

.star {
    display: inline;

    cursor: pointer;

    font-size: 1.2em;

    color: var(--lighter-orange);
}

.star:hover{
    color: var(--darker-orange);
}



/** HTML / BODY **/
/*head -----------------------------------------------*/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

#head{
    height: 78%; 

    margin-bottom: 50px;
    display: flexbox;
}

#head_background_img{
    width: 100%;    
}

.brand_logo{
    width: 25%;

    margin-left: 2%;
    margin-top: 1%;

    float: left;
}

.search_bar{
    width: 25%;
    height: 40px;

    border-radius: 100px;
    
    float: right;
    margin-top: 1.5%;
    margin-right: 1%;

    padding-left: 1%;

    background-color: var(--white);
}

.search_bar input{
    width: 85%;
    height: 95%;
    
    padding-left: 2%;

    border: none;
    outline: none;
}
.search_button{
    cursor: pointer;
    color: var(--darker-red);
}

.search_button:hover{
    color: var(--lighter-red);
}
/*dropdown menu*/

.menu{
    position:relative;
}

.menu_logo{
    float: right;
    margin-top: 1%;

    cursor: pointer;
    transition: all 0.4s ease;

    z-index: 5000 !important;

    color: var(--lighter-orange);
}

.menu_logo:hover{
    color: var(--darker-orange);
}

.menu_logo:hover .menu_dropdown{
    top: 0px;
}

.menu_dropdown{
    position: fixed;
    top: -600px;
    left: 0px;
    right: 0px;
    height: 200px;

    background-color: var(--white);
   
    padding: 40px;

    /*box shadow*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.menu_logo div{
    float: right;
    padding-right: 5%;
}

.menu_dropdown a{
    text-decoration: none;
    color: var(--darker-green);
}

.menu_dropdown a:hover{
    color: var(--lighter-green);
}

.menu_dropdown .brand_logo{
    position: absolute;
    top:0;
    left: 0;
}

/*side bar--------------------------------------------*/
.side_info{
    margin-left: var(--box-margins);
    margin-right: var(--box-margins);
}

.side_info img{
    display: block;
    width: 40%;
    margin-left: 30%;
}

.sidebar_agenda{
    overflow: hidden;
    text-align: left;
    padding: 5%;
    height: 700px;
    background-color: var(--lighter-green);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.sidebar_login{
    height: 401px;
    text-align: left;

    color: var(--kahki);
    background-color: var(--darker-red);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.sidebar_login input{
    height: 30px;
    width: 80%;
    float: left;

    margin-left: var(--login_margin);
    margin-bottom: 4%;
}

.sidebar_login h6{
    margin-left: var(--login_margin);
}

.sidebar_login button{
    width: 50%;

    margin-top: 5%;
    margin-left: 25%;

    border-radius: 1.5em;

    color: var(--kahki);

    border: none;

    border-color: var(--lighter-orange);
    background-color: var(--lighter-orange);
}

.sidebar_login button:hover{
    border-color: var(--darker-orange);
    background-color: var(--darker-orange);
}

/*detail page content ------------------------------------------------------------------*/
/*detail top content ------------------------------------------------------------------*/
.detail_box{
    margin-right: calc(var(--box-margins)*1.3);
    margin-bottom: calc(var(--box-margins)/2);

    height:550px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.dish_img{
    display: flex;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;

    justify-content: center;
}

.dish_details{
    position: relative;

    padding-left: 5%;
    height: 100%;
}

.dish_top_info{
    display: flex;
    align-items: center;
    
    margin-top: 20px;
}

.dish_top_info p{
    margin-right: var(--text-left-marging-padding);
}

.dish_top_info i{
    color: var(--lighter-red);
}

.dish_title_row{
    height: 60px;
}

.dish_title_row h2{
    color: var(--darker-green);
}

.kitchen_type_bar h4{
    display: inline-block;

    margin-right: 10%;

    color: var(--darker-green);
}

.kitchen_type_bar p{
    display: inline-block;
}

.dish_long_description{
    height: 50%;

    overflow: auto;

    margin-bottom: 10%;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dish_long_description::-webkit-scrollbar {
    display: none;
}

.dish_long_description p{
    white-space: pre-wrap;
    padding-right: 8%;
}

.add_dish_to_cart_button div{
    position: absolute;
    bottom: 8%;
    left: 10%;
    
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 25%;
    height: 40px;
       
    border-radius: 1.5em;

    text-decoration: none; 

    cursor: pointer;

    color: var(--kahki);

    border-color: var(--lighter-red);
    background-color: var(--lighter-red);
}

.add_dish_to_cart_button div:hover{
    border-color: var(--darker-red);
    background-color: var(--darker-red);
}

.favorite_button{
    position: absolute;
    bottom: 8%;
    right: 10%;

    margin-top: 2%;
}

.red_heart{
    cursor: pointer;
    color: var(--lighter-red);
}

/*detail bottom content ------------------------------------------------------------------*/

.detail_tabs{
    position: relative;
    z-index: 5;
    
    padding-top: 2%;
    margin-right: calc(var(--box-margins)*1.3);

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.tab_content{
    overflow-y: auto;
    overflow-x:hidden;
    
    height: 450px;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tab_content::-webkit-scrollbar {
    display: none;
}

.detail_tabs h3, .detail_tabs h4, .detail_tabs i{
    color: var(--darker-green);
}

.scroll_indicator{
    height: 50px;
    text-align: center;
}

.toggle_buttons button{
    display: inline-block;
    margin-right: -4%;

    width: 25%;
    height: 40px;

    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    border: none;
    outline: none;

    background-color: var(--white);
    color: var(--darker-green);

    -webkit-box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.1),
                        -5px -5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:5px -5px 5px 0px rgba(0, 0, 0, 0.1),
                    -5px -5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px -5px 5px 0px rgba(0, 0, 0, 0.1),
                -5px -5px 5px 0px rgba(0, 0, 0, 0.1);
}

.ingredient_toggle_button{    
    position: relative;
    z-index: 2;
}

.steps_toggle_button{
    position: relative;
    z-index: 3;
}

.comments_toggle_button{
    position: relative;
    z-index: 1;
}

.button_to_front{
    position: relative;
    z-index: 10;
}

.hide_tab{
    display: none;
}

.detail_tabs img{
    width: 60%;
    float: right;
}

.detail_tabs ul{
    list-style-type: none;

    padding: 0;
    padding-top: 20px;

    margin: 0;
}

.steps_tab li{
    padding-bottom: 5%;
}

.steps_tab h2{
    position: relative;

    font-family: Helvetica !important;

    float: right;
    
    padding-top: 12px;
    padding-bottom: 12px;

    padding-left: 20px;
    padding-right: 20px;

    display: block;
    border-radius: 50%;

    background-color: var(--darker-orange);
    color: var(--white);
}

/*making the image of the class comments_tab round with a orange border*/
.comments_tab img{
    border-radius: 50%;
    border: 5px solid var(--darker-orange);
}

/* displaying multiple dishes ------------------------------------------------------------------------------------------------------------*/

.dishes_content{
   
}

.small_dish_dishplay{
    width: 90%;
    margin-bottom: var(--box-margins);
    background-color: var(--white);

    /*border: 5px solid var(--black);*/

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.dishes_img{
    display: flex;

    height: 250px;

    overflow-y: hidden;
    overflow-x: hidden;

    justify-content: center;
    align-items: center;
}

.dishes_img img{
    width: 100%;
}

.dishes_top_row{
    display: inline-flex;

    width: 100%;
    height: 90px;

    padding-top: 6%;
    margin-left: 0%;
    padding-left: var(--text-left-marging-padding);
}

.dishes_top_row h2{
    color: var(--darker-green);
}

.dishes_short_description{
    height: 100px;
    overflow: hidden;

    padding-left: calc(var(--text-left-marging-padding)*2);

    margin-bottom: 50px;
}

.dishes_bottom_row{
    height: 60px;

    display: grid;
    grid-template-columns: 40% 60%;
}

.dish_dishplay_button a{
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 80%;
       
    border-radius: 1.5em;

    text-decoration: none;

    margin-left: calc(var(--text-left-marging-padding)*2);  

    color: var(--kahki);

    border-color: var(--lighter-red);
    background-color: var(--lighter-red);
}

.dish_dishplay_button a:hover{
    border-color: var(--darker-red);
    background-color: var(--darker-red);
}

.dish_dishplay_button h3{
    margin-top: 5%;
}

.dishes_bottom_row button{
    width: 80%;
    height: 70%;

    margin-left: calc(var(--text-left-marging-padding)*2);

    border-radius: 1.5em;

    color: var(--white);

    border-color: var(--lighter-red);
    background-color: var(--lighter-red);

    border: none;
}

.bottom_right{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10%;
}

.bottom_right p{
    margin-top: 10px;
    margin-right: var(--text-left-marging-padding);
}

.bottom_right i{
    color: var(--lighter-red);
}

/* footer -----------------------------------------------------------------------------------------------------------------------*/

.footer_box{
    margin-top: 50px;

    height: 300px; 

    padding-top: 30px;

    background-color: var(--lighter-orange);
}

.footer_logo{
    width: 100px;

    float: right;
    margin-right: 10%;
}

.contact_img{
    width: 150px;
}

/*shopping cart ----------------------------------------------------------------------------------------------*/

.cart-block{
    margin-right: 10%;
    padding-left: 5%;

    /*shadow box*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, var(--shadow-strenght));
}

.cart-block img{
    width: 100%;
    float: right;
}

.cart-block h1, .cart-block h3{
    color: var(--darker-green)
}

.cart-block i{
    color: var(--darker-red);
}

.cart-block input{
    width: 70px;
    
    text-align: center;

    color: var(--darker-green)
}

.item_price{
    /* text-align: center; */
    padding-left: 4%;
    width: 12%;
}

.item_row{
    margin-bottom: 30px;
}

@media (max-width: 867px) {
    .cart-block input{
        margin-left: 90%;
    }    
    .item_price{
        width: 30%;
    }
}

.cart-block ul{
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.trash{
    cursor: pointer;
}

.cart_bot_row{
    display: flex;

    margin-top: 30px;

    align-items: center;
}